.main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.infoContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 80px;
}

.infoImgLeft {
	height: 500px;
	width: 600px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border: 7px solid black;
	border-right: 2.5px solid black;
	object-fit: cover;
	object-position: right 0%;
}

.infoTextContainerLeft {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 7px solid black;
	border-left: 2.5px solid black;
	height: 500px;
	width: 700px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: white;
}

.infoImgRight {
	height: 500px;
	width: 600px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	overflow: hidden;
	border: 7px solid black;
	border-left: 2.5px solid black;
	object-fit: cover;
	object-position: right 0%;
}

.infoTextContainerRight {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 7px solid black;
	border-right: 2.5px solid black;
	height: 500px;
	width: 700px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: white;
}

.infoTextTitle {
	font-family: dynapuff;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
}

.infoText {
	font-family: dynapuff;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
}

@media (max-width: 1400px) {

	.infoImgLeft {
		height: 600px;
		width: 400px;
	}

	.infoTextContainerLeft {
		height: 600px;
		width: 400px;
	}

	.infoImgRight {
		height: 600px;
		width: 400px;
	}

	.infoTextContainerRight {
		height: 600px;
		width: 400px;
	}

	.infoTextTitle {
		font-size: 35px;
	}

	.infoText {
		font-size: 27px;
	}
}

@media (max-width: 900px) {

	.infoContainer {
		flex-direction: column;
	}

	.infoImgLeft {
		height: 400px;
		width: 650px;
		border-radius: 0;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border: 7px solid black;
		border-bottom: 2.5px solid black;
		object-fit: cover;
		object-position: 50% 100%;
	}

	.infoTextContainerLeft {
		border: 7px solid black;
		border-top: 2.5px solid black;
		height: fit-content;
		width: 650px;
		border-radius: 0;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}

	.infoImgRight {
		height: 400px;
		width: 650px;
		border-radius: 0;
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 20px;
		border: 7px solid black;
		border-top: 2.5px solid black;
		object-fit: cover;
		object-position: 80% 50%;
	}

	.infoTextContainerRight {
		border: 7px solid black;
		border-bottom: 2.5px solid black;
		height: fit-content;
		width: 650px;
		border-radius: 0;
		border-top-right-radius: 20px;
		border-top-left-radius: 20px;
	}

	.infoTextTitle {
		font-size: 28px;
	}

	.infoText {
		font-size: 22px;
	}
}

@media (max-width: 700px) {

	.infoImgLeft {
		height: 350px;
		width: 480px;
		border-radius: 0;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border: 7px solid black;
		border-bottom: 2.5px solid black;
		object-fit: cover;
		object-position: 50% 100%;
	}

	.infoTextContainerLeft {
		border: 7px solid black;
		border-top: 2.5px solid black;
		height: fit-content;
		width: 480px;
		border-radius: 0;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}

	.infoImgRight {
		height: 350px;
		width: 480px;
		border-radius: 0;
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 20px;
		border: 7px solid black;
		border-top: 2.5px solid black;
		object-fit: cover;
		object-position: 80% 50%;
	}

	.infoTextContainerRight {
		border: 7px solid black;
		border-bottom: 2.5px solid black;
		height: fit-content;
		width: 480px;
		border-radius: 0;
		border-top-right-radius: 20px;
		border-top-left-radius: 20px;
	}

	.infoTextTitle {
		font-size: 25px;
	}

	.infoText {
		font-size: 18px;
	}
}

@media (max-width: 550px) {

	.infoImgLeft {
		height: 250px;
		width: 360px;
	}

	.infoTextContainerLeft {
		width: 360px;
	}

	.infoImgRight {
		height: 250px;
		width: 360px;
	}

	.infoTextContainerRight {
		width: 360px;
	}

	.infoTextTitle {
		font-size: 25px;
	}

	.infoText {
		font-size: 18px;
	}
}

@media (max-width: 400px) {

	.infoImgLeft {
		height: 200px;
		width: 300px;
		border-radius: 0;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border: 7px solid black;
		border-bottom: 2.5px solid black;
		object-fit: cover;
		object-position: 50% 100%;
	}

	.infoTextContainerLeft {
		border: 7px solid black;
		border-top: 2.5px solid black;
		height: fit-content;
		width: 300px;
		border-radius: 0;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}

	.infoImgRight {
		height: 200px;
		width: 300px;
		border-radius: 0;
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 20px;
		border: 7px solid black;
		border-top: 2.5px solid black;
		object-fit: cover;
		object-position: 80% 50%;
	}

	.infoTextContainerRight {
		border: 7px solid black;
		border-bottom: 2.5px solid black;
		height: fit-content;
		width: 300px;
		border-radius: 0;
		border-top-right-radius: 20px;
		border-top-left-radius: 20px;
	}

	.infoTextTitle {
		font-size: 25px;
	}

	.infoText {
		font-size: 18px;
	}
}