.main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.infoContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 80px;
}

.infoImgLeft {
	height: 500px;
	width: 600px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border: 7px solid black;
	border-right: 2.5px solid black;
	object-fit: cover;
	object-position: right 0%;
}

.infoTextContainerLeft {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 7px solid black;
	border-left: 2.5px solid black;
	height: 500px;
	width: 700px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: white;
}

.infoImgRight {
	height: 500px;
	width: 600px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	overflow: hidden;
	border: 7px solid black;
	border-left: 2.5px solid black;
	object-fit: cover;
	object-position: right 0%;
}

.infoTextContainerRight {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 7px solid black;
	border-right: 2.5px solid black;
	height: 500px;
	width: 700px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: white;
}

.infoTextTitle {
	font-family: dynapuff;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
}

.infoText {
	font-family: dynapuff;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
}