@font-face {
  font-family: 'dynapuff';
  /* src: url('/fonts/DynaPuff-VariableFont_wdth,wght.ttf') format('truetype'); */
  src: url('meme_coin_template/fonts/DynaPuff-VariableFont_wdth,wght.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}