.main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-bottom: 7px solid black;
	height: 180px;
}

.title {
	font-weight: bold;
	font-size: 50px;
	font-family: dynapuff;
	color: rgb(0, 0, 0);
	margin-left: 25px;
	padding: 20px;
	background-color: white;
	border-radius: 20px;
	border: 7px solid black;
}

@media (max-width: 1400px) {
	.main {
		height: 140px;
	}

	.title {
		font-size: 40px;
	}
}

@media (max-width: 800px) {
	.main {
		height: 120px;
	}

	.title {
		font-size: 33px;
	}
}