.main {
	position: relative;
	width: 100%;
	height: 100px;
}

.title {
	font-weight: bold;
	font-size: 60px;
	color: rgb(255, 255, 255);
}

.sliderContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	position: absolute;
	border: 7px solid black;
	border-left: 2.5px solid black;
	border-right: 2.5px solid black;
}

.slidingItem {
	width: 500px;
	width: 25%;
	background-color: rgb(241, 241, 241);
	text-align: center;
	font-family: dynapuff;
	font-weight: bold;
	font-size: 30px;
	border-right: 5px solid black;
}